aside {
	position: absolute;
	width: 20%;
	background: $primaryMed;
	padding: 10px;
	border-radius: 10px;
    box-shadow:  9px 9px 14px #283e25, 
    -9px -9px 14px #40663d;
    color: $mainFont;

	h2 {
		font-size: 1.4rem;
	}

	ol {
		list-style-position: inside;
		margin-top: 10px;
        font-size: 1.1rem;
	}
}
