.rulesContainer {
	@include flexRow(flex-end, center, wrap);
	background: $primaryMed;
	color: $mainFont;

	&.show {
		position: relative;
		transition: width 0.5s ease 0.2s;
		z-index: 2;
		min-height: fit-content;
		color: $mainFont;
		opacity: 1;
		display: flex;
	}

	&.hide {
		display: none;
	}

	h2 {
		font-size: 1.2rem;
		width: 120px;
		text-transform: capitalize;
	}
	button.closeRules {
		@extend button.nav;
		font-size: 1.2rem;
		min-width: 75px;
		margin-bottom: 0;
	}

	ol {
		list-style-position: inside;
		font-size: 1.1rem;
		color: $mainFont;
		width: 100%;
	}
}
