h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

body {
    height: 100vh;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 2% auto;
    display: flex;
}

aside {
    width: 20%;
}
main {
    width: 80%;
}

.gameContainer {
    width: fit-content;
    height: fit-content;
    margin: 5% auto;
    padding: 10px;
    background: $primaryLight;
}
.flag {
    background: rgb(211, 210, 210);
    box-shadow: inset 0 -5px 4px grey;
    border: none;
    padding: 5px;
    border-radius: 5px;

    &.active {
        box-shadow: none;
        background: skyblue;
    }
}
.mineField {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 30px;
    height: 30px;
    border: 1px solid $primaryDark;
    text-align: center;

    &.hidden {
        background: $primaryMed;
    }
    &.revealed {
        background: $primaryLight;
    }
    &.warning {
        background: $accentOne;
    }
    &.flagged {
        background: beige;
    }
    &.red {
        background: red;
    }
}

