h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

body {
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background: $primaryMed;
	font-size: 62.5%;
	font-family: $mainStack;
}

.wrapper {
	position: relative;
	width: 95%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
}
main {
	width: 100%;
}

h1 {
	text-align: center;
	width: 100%;
	margin: 3vh 0;
	font-size: 2rem;
	color: $mainFont;
	font-family: $mainStack;
	font-weight: normal;
}

h2 {
	font-family: $mainStack;
	font-weight: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	text-transform: uppercase;
	color: whitesmoke;
	display: inline-block;
	opacity: 0;
	z-index: -1;
	&.win {
		z-index: 2;
		cursor: default;
		animation: winner 0.7s ease 0s 3 forwards;
	}
}

@keyframes winner {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

header {
	background: $primaryMed;
}
