h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

body {
	height: 100vh;
	font-family: sans-serif;
	background: $primaryMed;
	font-size: 62.5%;
}

.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}
main {
	width: 100%;
}

h1 {
	text-align: center;
	width: 20%;
	margin: 7vh 0 3vh;
	font-size: 2rem;
	color: $mainFont;
}

header {
	background: $primaryMed;
}

