@media (max-width: 1100px) {
	h1 {
		width: 100%;
		text-align: center;
	}
	aside {
		flex-direction: column;
		align-items: flex-start;
		&.hide {
			width: 140px;
		}
		h2 {
			margin-bottom: 5px;
		}
		button {
			margin-left: 17.5px;
		}
	}
}

@media (max-width: 880px) {
	.wrapper {
		width: 100%;
	}
	aside {
		h2 {
			display: none;
		}
		top: calc(-10vh - 2rem);
		left: 10px;
	}
}

@media (max-width: 700px) {
	.levelSelector {
		max-width: 380px;
		margin: 0 auto;
	}
	h1.hard {
		display: none;
	}

	.controls.hard {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: #1F1F1F55;
		width: 100%;
		padding: 28px 0 5px;
		box-shadow: inset 0px 0px 10px #0f180e;

		&::before {
			content: "Minesweeper";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 2px;
			font-size: 1.2rem;
			color: $mainFont;
		}
		.time.container,
		.mines.container {
			@include flexRow(space-between,baseline,nowrap);
			width: 85px;
		}
		.mines.container {
			flex-direction: row-reverse;
		}
	}

	.levelSelector.hard {
		// position: absolute;
		// bottom:0;
	}
	.mineField {
		&.easy {
			grid-template-columns: repeat(9, 35px);
		}
		&.medium {
			grid-template-columns: repeat(14, 35px);
		}
		&.hard {
			grid-template-columns: repeat(19, 35px);
			margin-top: 75px;
		}
		.tile.hidden,
		.tile.red,
		.tile.hidden.red {
			width: 35px;
			height: 35px;
			margin: 0;
		}
		.tile.revealed {
			width: 33px;
			height: 33px;
		}
	}
}

@media (max-width: 500px) {
	main {
		width: auto;
		padding: 0 10px;
		box-shadow: none;
	}

	.levelSelector {
		max-width: 500px;
		margin: 0 auto;
	}

	.mineField {
		&.easy {
			grid-template-columns: repeat(9, 40px);
		}
		&.medium {
			grid-template-columns: repeat(14, 40px);
		}
		&.hard {
			grid-template-columns: repeat(19, 40px);
		}
		.tile.hidden,
		.tile.red,
		.tile.hidden.red {
			width: 40px;
			height: 40px;
			margin: 0;
		}
		.tile.revealed {
			width: 38px;
			height: 38px;
		}
	}
}
