// variables
$primaryDark: #1F1F1F;
$primaryMed: #345231;
$primaryLight: #709B6B;
$white: #F6F6F6;
$accentOne: #E4A436;
$grey: #454851;
$background: #ECE4B7;
// $background: #709775;
$mainFont: #aac5aa;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$mainStack: "Open Sans", sans-serif;


//mixins
@mixin flexRow($justify: center, $align: center, $wrap:nowrap) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

@mixin flexCol($align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: center;
}