@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #345231;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  position: relative;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 100%;
}

h1 {
  text-align: center;
  width: 100%;
  margin: 3vh 0;
  font-size: 2rem;
  color: #aac5aa;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  text-transform: uppercase;
  color: whitesmoke;
  display: inline-block;
  opacity: 0;
  z-index: -1;
}

h2.win {
  z-index: 2;
  cursor: default;
  -webkit-animation: winner 0.7s ease 0s 3 forwards;
          animation: winner 0.7s ease 0s 3 forwards;
}

@-webkit-keyframes winner {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes winner {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

header {
  background: #345231;
}

main {
  padding: 10px;
  border-radius: 5px;
  background: #345231;
  font-size: 1rem;
  -webkit-box-shadow: 9px 9px 14px #283e25, -9px -9px 14px #40663d;
          box-shadow: 9px 9px 14px #283e25, -9px -9px 14px #40663d;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.gameContainer {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}

.gameContainer.hide {
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.gameContainer.show {
  opacity: 1;
  z-index: 2;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: capitalize;
}

.controls .container {
  width: 60px;
  text-align: center;
  color: #aac5aa;
}

.controls .container .number {
  color: #1F1F1F;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #709B6B;
  -webkit-box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
          box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
  border: 1px solid #597e55;
}

.flag {
  width: 60px;
  margin: 0 30px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.stats {
  width: 50%;
}

button.nav, .rulesContainer button.closeRules {
  background: #345231;
  color: #aac5aa;
  -webkit-box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
          box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

button.nav.active, .rulesContainer button.active.closeRules {
  background: #709B6B;
  -webkit-box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
          box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
  color: #1F1F1F;
}

button.nav:active, .rulesContainer button.closeRules:active {
  background: #709B6B;
  -webkit-box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
          box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
  color: #1F1F1F;
}

button.nav[disabled="true"], .rulesContainer button.closeRules[disabled="true"] {
  background: #345231;
  color: #aac5aa;
  -webkit-box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
          box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
}

button.nav:focus, .rulesContainer button.closeRules:focus {
  outline: none;
  border: 1px dotted #94c79a;
}

.levelSelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.levelSelector button {
  width: 70px;
  margin: 0 2.5px;
}

.mineField {
  display: -ms-grid;
  display: grid;
  margin: 10px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

.mineField.easy {
  -ms-grid-columns: (25px)[9];
      grid-template-columns: repeat(9, 25px);
}

.mineField.medium {
  -ms-grid-columns: (25px)[14];
      grid-template-columns: repeat(14, 25px);
}

.mineField.hard {
  -ms-grid-columns: (25px)[19];
      grid-template-columns: repeat(19, 25px);
}

.mineField li {
  padding: 0;
  font-size: 14px;
  line-height: 0;
}

.tile {
  display: block;
  width: 23px;
  height: 23px;
  margin: 1px;
  border: none;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
          box-shadow: inset -3px -3px 7px #233821, inset 3px 3px 7px #456c41;
  cursor: default;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
}

.tile.hidden {
  background: #345231;
  width: 25px;
  height: 25px;
  margin: 0;
}

.tile.revealed {
  background: #709B6B;
  -webkit-box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
          box-shadow: inset 3px 3px 7px #4c6750, inset -3px -3px 7px #94c79a;
}

.tile.warning {
  background: #E4A436;
}

.tile.flagged {
  width: 23px;
  height: 23px;
  margin: 1px;
  background: #c2c0b1;
  -webkit-box-shadow: inset -3px -3px 7px #949286, inset 3px 3px 7px #e2e0ce;
          box-shadow: inset -3px -3px 7px #949286, inset 3px 3px 7px #e2e0ce;
}

.tile.red {
  background: #d10000;
  -webkit-box-shadow: inset -3px -3px 7px #8f0000, inset 3px 3px 7px #ff0000;
          box-shadow: inset -3px -3px 7px #8f0000, inset 3px 3px 7px #ff0000;
}

.tile:focus-within {
  outline: none;
  border: 1px dotted #94c79a;
}

.tile[disabled="true"] {
  color: black;
}

.rulesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #345231;
  color: #aac5aa;
}

.rulesContainer.show {
  position: relative;
  -webkit-transition: width 0.5s ease 0.2s;
  transition: width 0.5s ease 0.2s;
  z-index: 2;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: #aac5aa;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rulesContainer.hide {
  display: none;
}

.rulesContainer h2 {
  font-size: 1.2rem;
  width: 120px;
  text-transform: capitalize;
}

.rulesContainer button.closeRules {
  font-size: 1.2rem;
  min-width: 75px;
  margin-bottom: 0;
}

.rulesContainer ol {
  list-style-position: inside;
  font-size: 1.1rem;
  color: #aac5aa;
  width: 100%;
}

@media (max-width: 1100px) {
  h1 {
    width: 100%;
    text-align: center;
  }
  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  aside.hide {
    width: 140px;
  }
  aside h2 {
    margin-bottom: 5px;
  }
  aside button {
    margin-left: 17.5px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    width: 100%;
  }
  aside {
    top: calc(-10vh - 2rem);
    left: 10px;
  }
  aside h2 {
    display: none;
  }
}

@media (max-width: 700px) {
  .levelSelector {
    max-width: 380px;
    margin: 0 auto;
  }
  h1.hard {
    display: none;
  }
  .controls.hard {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #1F1F1F55;
    width: 100%;
    padding: 28px 0 5px;
    -webkit-box-shadow: inset 0px 0px 10px #0f180e;
            box-shadow: inset 0px 0px 10px #0f180e;
  }
  .controls.hard::before {
    content: "Minesweeper";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 2px;
    font-size: 1.2rem;
    color: #aac5aa;
  }
  .controls.hard .time.container,
  .controls.hard .mines.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 85px;
  }
  .controls.hard .mines.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .mineField.easy {
    -ms-grid-columns: (35px)[9];
        grid-template-columns: repeat(9, 35px);
  }
  .mineField.medium {
    -ms-grid-columns: (35px)[14];
        grid-template-columns: repeat(14, 35px);
  }
  .mineField.hard {
    -ms-grid-columns: (35px)[19];
        grid-template-columns: repeat(19, 35px);
    margin-top: 75px;
  }
  .mineField .tile.hidden,
  .mineField .tile.red,
  .mineField .tile.hidden.red {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  .mineField .tile.revealed {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 500px) {
  main {
    width: auto;
    padding: 0 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .levelSelector {
    max-width: 500px;
    margin: 0 auto;
  }
  .mineField.easy {
    -ms-grid-columns: (40px)[9];
        grid-template-columns: repeat(9, 40px);
  }
  .mineField.medium {
    -ms-grid-columns: (40px)[14];
        grid-template-columns: repeat(14, 40px);
  }
  .mineField.hard {
    -ms-grid-columns: (40px)[19];
        grid-template-columns: repeat(19, 40px);
  }
  .mineField .tile.hidden,
  .mineField .tile.red,
  .mineField .tile.hidden.red {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .mineField .tile.revealed {
    width: 38px;
    height: 38px;
  }
}
